.content {
 padding: 20px 50px;
}

.info_header {
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}

.info_header_item {
  text-align: center;
  margin: 0 20px;
}

.blue {
  color: #1789ea;
}

.green {
  color: #42832e;
}

.red {
  color: red;
}

.time {
  font-size: 30px;
}

.horizontal_separator {
  width: 1px;
  background-color: black;
}
.list__button {
  margin: 0 0 0.5rem 0;
  font-size: 0.8rem;
  line-height: 2;
}
.legislațion__buttom {
}
.center {
  display: flex;
  justify-content: center;
}

