.content {
  padding: 20px 50px;
}

.chapter {
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;
}

.sub-section {
  margin-bottom: 20px;
}

.article {
  margin-bottom: 20px;
}

.paragraph {
  margin-left: 20px;
}

.sub-paragraph {
  margin-left: 40px;
}

.sub-sub-paragraph {
  margin-left: 60px;
}
