<div class="container" style="width: 40%; margin: auto">
  <form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Înregistrare</h1>

    <input formControlName="name" class="form-control" placeholder="Nume" required style="margin-bottom: 20px">

    <input formControlName="email" type="email" class="form-control" placeholder="Email" required style="margin-bottom: 20px">

    <input formControlName="password" type="password" class="form-control" placeholder="Parolă" required style="margin-bottom: 20px">

    <div class="d-flex align-items-center justify-content-center">
      <button mat-raised-button color="primary"  type="submit">Înregistrare</button>
    </div>
  </form>
</div>

